@media screen and (max-width: 600px) {
    
    .menu-container{
        flex-direction: column;
        display: block;
    }
    .banner-container {
        flex-direction: column;
    }
    .menu-container{
        flex-direction: column;
        display: none;
    }
    .dropdown-menu{
        display: block;
        justify-content: space-between;
        padding-right: 10px;
    }
    .dropdown-menu li{
        list-style: none;
        text-align: center;
    }
    .dropdown-menu li a{
        text-decoration: none;
    }
    .dropdown-menu ul{
        position: absolute;
        display: none;
    }
    .dropdown-menu > li:hover > ul{
        display: block;
    }
    .input-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 80%;
        margin: 0px auto;
    }
    .input-container input{
        width: 90%;
    }
    .banner-btn{
        width: 77%;
    }
    /* our popular tour section  */
    .popular-tour{
        flex-direction: column;
        gap: 20px;
    }
    .popular-tour-content-container{
        width: 90%;
    }
    .popular-tour-img{
        width: 90%;
    }
    /* destination section  */
    .destination-img-container{
        justify-content: center;
    }
    .destination-img-container img{
        width: 470px;
        margin: 0px auto;
    }
    /* newslatter section  */
    .newsletter-section{
        flex-direction: column;
        gap: 20px;
    }
    
    .newsletter-input-container{
        width: 95%;
        padding: 5px;
        margin: 0px auto;
    }
    .newsletter-img-container{
        width: 95%;
    }
    /* footer section  */
    .footer-container{
        padding: 20px;
    }
}